* {
  margin: 0;
  padding: 0;
}

html,
body {
  font: 14px/16px Arial, Verdana;

  width: 100%;
  min-width: 1000px;

  cursor: default;

  color: #3d3d3d;
  background: #fff;
}

html {
  height: 100%;
}

body {
  position: relative;

  height: auto !important;
  height: 100%;
  min-height: 100%;
}

html,
body,
div,
applet,
object,
iframe,
blockquote,
pre,
abbr,
acronym,
address,
big,
select,
input,
textarea,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dd,
dl,
dt,
fieldset,
form,
label,
legend,
caption {
  font: 14px/16px Arial, Verdana;

  margin: 0;
  padding: 0;

  border: 0;
}

a img,
:link img,
:visited img {
  border: 0;
}

p {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  vertical-align: top;
}

a {
  font: 14px/16px Arial, Verdana;

  cursor: pointer;
  text-decoration: none;

  color: #546988;
  outline: none;
  &:hover {
    text-decoration: none;
  }
}

.clear {
  font-size: 0;
  line-height: 0;

  clear: both;

  width: 0;
  height: 0;
}

.hand {
  cursor: pointer;
}

.display_none {
  display: none;
}

.content-redaktor {
  h1 {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;

    width: 640px;
    margin: 15px 0 18px 0;
    padding-bottom: 6px;

    text-transform: uppercase;

    color: #22242b;
    border-bottom: 1px solid #a2bdd2;
  }
  h2 {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 20px;

    margin-bottom: 21px;

    color: #526a86;
  }
  h3 {
    font-weight: bold;

    margin: 20px 0 20px 0;
  }
  ul,
  ol {
    margin: 0 0 20px 20px;

    list-style: none;
  }
  li {
    line-height: 1.5em;

    margin-bottom: 7px;
    padding: 0 0 0 16px;

    background: url(../img/squ.png) no-repeat left 5px;
  }
  a {
    text-decoration: underline;

    color: #5093c1;
    &:hover {
      text-decoration: none;
    }
  }
  td {
    padding: 5px;

    vertical-align: inherit;

    border: 1px solid #b2b2b2;
  }
  table {
    width: 100%;
    margin-bottom: 21px;
  }
  blockquote {
    font-style: italic;

    display: block;

    margin-top: 1em;
    margin-right: 40px;
    margin-bottom: 1em;
    margin-left: 40px;
  }
  em {
    font-style: italic;
  }
}

/* a:hover animation */

.vk:hover,
.wp-pagenavi a:hover {
  opacity: .7;

  filter: alpha(Opacity = 70);
}

/* site styles */

.header_wrapper {
  height: 108px;

  border-top: 5px solid #a2bdd2;
  border-bottom: 1px solid #a2bdd2;
}

.header {
  width: 1000px;
  margin: 0 auto;
}

.logo {
  display: block;
  float: left;

  width: 350px;
  height: 86px;
  margin: 10px 15px 0 -7px;

  background: url(../img/logo.png) no-repeat;
}

.search_block {
  position: relative;

  float: left;

  width: calc(100% - 358px);
  height: 26px;

  background: #eee;
}

.search_in {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  line-height: 26px;

  display: block;
  float: left;

  width: 606px;
  height: 26px;
  padding: 0 0 0 10px;

  background: none;
}
.widget {
  padding-top: 20px;
  h6 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 5px;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.search_but {
  position: absolute;
  top: 1px;
  right: 1px;

  display: block;

  width: 39px;
  height: 26px;

  background: url(../img/search_icon.jpg) no-repeat;
}

.header_but {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;

  display: block;
  float: left;

  height: 24px;
  margin: 25px 12px 0 0;
  padding: 0 10px;

  color: #546988;
  border: 1px solid #546988;
  &:hover {
    color: #fff;
    background: #627897;
  }
}

.header_menu {
  display: flex;
  float: right;
  flex-direction: row;

  width: calc(100% - 358px);
  height: 56px;
  margin: -1px 0 0 0;

  list-style: none;

  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  li {
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    a {
      font: 14px 'Trebuchet MS', Arial, Helvetica, sans-serif;

      display: block;
      float: left;

      height: 45px;
      margin-left: -1px;
      padding: 11px 15px 0 15px;

      text-align: center;

      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
    &:hover {
      color: #fff;
      background: #a2bdd2;
    }
  }
}

.content {
  width: 1000px;
  margin: 15px auto 80px auto;
}

.content_left {
  float: left;

  width: 676px;
}

.headline {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;

  width: 590px;
  margin: 0 0 18px  21px;

  color: #22242b;
  border-bottom: 1px solid #a2bdd2;
}

.content_left_img {
  margin: -7px 0 10px 0;
}

.content_right {
  float: right;

  width: 260px;
  margin-right: 35px;
}

.cr_head {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;

  display: block;

  width: 260px;
  /*border-top:2px solid #546988;*/

  text-transform: uppercase;

  color: #546988;
}

.cr_head_2 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;

  width: 260px;

  text-transform: uppercase;

  color: #5184aa;
  border-top: 2px solid #5184aa;
}

.cr_list {
  margin: 0 0 0 8px;

  list-style: none;
  li {
    display: block;

    height: 18px;

    background: url(../img/list_arrow.png) no-repeat left center;
    a {
      font-family: Arial, Helvetica, sans-serif;

      padding-left: 10px;

      color: #3d3d3d;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.treb {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;

  color: #606060;
  a {
    text-decoration: underline;

    color: #000;
    &:hover {
      text-decoration: none;

      color: #000;
    }
  }
}

.article_line {
  width: 260px;
  height: 5px;
  margin: 20px 0 10px 0;

  background: #a2bdd2;
}

.art_head {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;

  float: left;

  color: #546a88;
}

.other_art {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;

  display: block;
  float: right;

  text-decoration: underline;

  color: #546a88;
}

.popular {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 21px;

  display: block;
  float: left;

  width: 108px;
  height: 23px;
  margin: 15px 0 0 0;

  text-align: center;

  color: #fff;
  background: #627897;
}

.new {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 21px;
  line-height: 20px;

  display: block;
  float: left;

  width: 108px;
  width: 106px;
  height: 23px;
  height: 21px;
  margin: 15px 0 0 0;

  text-align: center;

  color: #fff;
  color: #4b6486;
  border: 1px solid #627897;
  background: #627897;
  background: #f1f4f7;
}

.article_block {
  width: 260px;
  margin: 15px 0 0 0;
  padding: 0 0 15px 0;

  border-bottom: 1px dashed #b7b7b7;
}

.article_head {
  font-size: 12px;
  font-weight: bold;

  padding-bottom: 10px;

  color: #3a495e;
}

.article_block {
  img {
    float: left;

    padding: 0 12px 12px 0;
  }
  p {
    font-size: 14px;

    color: #606060;
  }
}

.literatura table td {
  padding: 15px;

  border: 0;
}

.footer_pusher {
  height: 79px;
}

.footer_wrapper {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 79px;

  background: #a2bdd2;
}

.footer {
  width: 1000px;
  margin: 0 auto;
}

.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 11px;

  float: left;

  margin: 50px 0 0 0;

  color: #fff;
}

.vk {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 25px;

  display: block;
  float: right;

  height: 25px;
  margin: 44px 50px 0 0;
  padding-right: 35px;

  color: #fff;
  background: url(../img/vk.png) no-repeat right;
}

.breadcrumbs {
  margin-bottom: 20px;

  list-style: none;
  li {
    display: inline-block;
  }
  .raquo {
    display: inline-block;

    width: 16px;
    height: 7px;

    background-image: url(../img/nav_tri.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  a {
    text-decoration: underline;
  }
  strong {
    font-weight: normal;
  }
}

.nav {
  img {
    padding: 0 5px;
  }
  a {
    text-decoration: underline;

    color: #808080;
    &:hover {
      text-decoration: none;
    }
  }
}

.headline_2 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;

  margin-bottom: 20px;
  padding-bottom: 6px;

  text-transform: uppercase;

  color: #22242b;
  border-bottom: 1px solid #a2bdd2;
  span {
    font-size: 11px;
    font-style: italic;

    margin: 10px 0 18px 0;

    text-transform: none;

    color: #808080;
  }
  a {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.5em;

    margin-bottom: 20px;

    color: #22242b;
  }
}

.article_item_block {
  margin-bottom: 20px;
  padding: 0 0 10px 0;

  border-bottom: 1px dashed #ababab;
}

.aib_head {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;

  color: #2d4e7f;
}

.aib_author {
  font-size: 11px;
  font-style: italic;

  margin: 10px 0 18px 0;

  color: #808080;
}

.aib_img {
  float: left;

  padding: 0 15px 20px 0;
}

.aib_text {
  padding-bottom: 20px;
}

.more {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;

  text-decoration: underline;

  color: #546a88;
}

.wp-pagenavi {
  width: 225px;
  height: 14px;
  margin: 40px auto 0 auto;
  a {
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;

    display: block;
    float: left;

    width: 18px;
    height: 18px;
    margin-right: 3px;

    text-align: center;

    color: #a2bdd2;
    border: 1px solid #a2bdd2;
    &.current {
      color: #fff;
      background: #a2bdd2;
    }
    &.l_ll,
    &.first {
      width: 20px;
      height: 20px;
      margin-right: 0;

      border: none;
      background: url(../img/listing_ll.png) no-repeat center;
    }
    &.l_l {
      width: 20px;
      height: 20px;
      margin-right: 0;

      border: none;
      background: url(../img/listing_l.png) no-repeat center;
    }
  }
}

a.previouspostslink {
  width: 20px;
  height: 20px;
  margin-right: 0;

  border: none;
  background: url(../img/listing_l.png) no-repeat center;
}

.wp-pagenavi a {
  &.l_rr,
  &.last {
    width: 20px;
    height: 20px;
    margin-right: 0;

    border: none;
    background: url(../img/listing_rr.png) no-repeat center;
  }
  &.l_r {
    width: 20px;
    height: 20px;
    margin-right: 0;

    border: none;
    background: url(../img/listing_r.png) no-repeat center;
  }
}

a.nextpostslink {
  width: 20px;
  height: 20px;
  margin-right: 0;

  border: none;
  background: url(../img/listing_r.png) no-repeat center;
}

/* article_inner */

.cl_blue_head {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;

  margin-bottom: 21px;

  color: #526a86;
}

.cl_blue_head_2 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;

  margin-bottom: 21px;
  margin-left: 20px;

  color: #526a86;
}

.depr_list_head {
  font-weight: bold;

  margin: 20px 0 10px 20px;
}

.depr_list {
  margin: 0 0 20px 20px;

  list-style: none;
  li {
    margin-bottom: 7px;
    padding: 0 0 0 16px;

    color: #000;
    background: url(../img/squ.png) no-repeat left 5px;
  }
}

.art_img {
  float: left;

  padding: 0 10px 10px 0;
}

.underlined {
  font-weight: bold;

  text-decoration: underline;

  color: #000;
}

.cl_black_head {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;

  margin-bottom: 21px;

  color: #000;
}

.cl_black_head_2 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;

  margin-bottom: 21px;

  text-transform: uppercase;

  color: #000;
}

.also_read {
  list-style: none;
  li {
    display: block;

    margin-bottom: 2px;
    a {
      font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;

      text-decoration: underline;

      color: #5093c1;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

/* fobias_fear */

.blue_head_short {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;

  margin-bottom: 14px;

  text-decoration: underline;
  text-transform: uppercase;

  color: #2d4e7f;
}

/* situation */

.cl_blue_head_3 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 20px;

  margin: 20px 0 20px 0;
  margin-bottom: 21px;

  color: #546988;
}

.underlined_blue {
  font-weight: bold;

  text-decoration: underline;

  color: #42779b;
}

.bold_black {
  font-weight: bold;

  color: #000;
}

.content_left p {
  line-height: 1.5em;

  margin-bottom: 20px;
}

.yarpp-related {
  margin-top: 30px;
}

.block_2 {
  display: none;
}

.poloska {
  float: left;

  width: 50px;
  height: 400px;

  background: #ff9200;
}

.yarpp_pro_msg {
  padding: .4em 2em .8em;

  text-align: justify;

  border: 1px ridge #d0d0d0;
  strong {
    display: inline-block;

    width: 100%;

    text-align: center;

    color: orange;
  }
}

.yarpp-related {
  margin: 1em 0;
  a {
    font-weight: bold;

    text-decoration: none;
  }
  .yarpp-thumbnail-title {
    font-size: 96%;
    font-weight: bold;

    text-align: left;
    text-decoration: none;
  }
  h3 {
    font-size: 125%;
    font-weight: bold;

    margin: 0;
    padding: 0 0 5px 0;

    text-transform: capitalize;
  }
  .yarpp-promote {
    font-size: 11px;

    float: right;
    clear: both;

    width: 78px;
    height: 17px;

    cursor: pointer;
    text-indent: -1000px;

    color: #666;
    background: url('../img/adk_mini_logo.png') no-repeat;
  }
}


.yarpp_help {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;

  vertical-align: text-bottom;

  background: transparent url('../../../../wp-includes/images/wpicons.png') no-repeat -520px -20px;
}

.yarpp_help_msg {
  position: absolute;
  z-index: 100;
  left: 25px;

  display: none;

  width: 250px;
  padding: 10px 15px;

  text-align: justify;

  border: 1px solid #d0d0d0;
  background-color: #fff;
  box-shadow: 0 0 .4em -.15em #333;
}

.yarpp_help:hover .yarpp_help_msg {
  display: block;
}
