
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=30da580c9111d6d48d59ddaee0a84d73
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress